.content{
	color: red;
	font-family: Impact, Charcoal, sans-serif;
	margin-bottom: 10px;
}

.content img{
	border-radius: 25px;
	vertical-align: middle;
	
}

.photo {
	display: inline-block;
	vertical-align: middle;
}

header{
	background-color: yellow;
	display:flex;
    flex-direction: row;
	text-align: center;
	font-size: 40px;
	justify-content: space-around;
}

footer{
	text-align: center;
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	background-color: #33cc33;
}

input{
	margin-top: 10px;	
}
